html{
	margin: 0px;
	padding: 0px;
}

.boxlogin{
border-radius: 4px;
margin:  100px auto;
width: 320px;
box-shadow: 0px 2px 10px #d6d6d6; 
-webki-border-radius: 4px;
-moz-border-radius: 4px;

}
button[type="submit"]{
margin-top: 14px;

}